.container {
  display: flex;
  gap: 1.5rem;
  max-width: 64rem;
  margin-inline: auto;
  margin-top: 5rem;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}

.body {
  background-color: var(--body-color);
  min-height: var(--overflow-row);
}
