:root {
  --base-line: #aeaeae;
  --label-color: #333333;
  --body-color: #ecf5ff;
  --column-text: clamp(0.75rem, 4vw, 1.25rem);
}

body {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-style: normal;
}
