.nav {
  background-color: white;
  height: fit-content;
  padding: 1rem;
  border-radius: 0.625rem;
  position: sticky;
  top: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  margin-top: 2rem;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
}
